Checks: >
  -*,
  bugprone-*,
  google-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  cppcoreguidelines-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  -google-readability-namespace-comments,
  -google-readability-todo,
  -google-runtime-int,
  -google-default-arguments
  -google-runtime-references,
  -misc-non-private-member-variables-in-classes,
  -modernize-use-trailing-return-type,
  -performance-noexcept-move-constructor,
  -readability-function-cognitive-complexity,
  -readability-inconsistent-declaration-parameter-name,
  -readability-magic-numbers,
  -readability-named-parameter,
  -readability-redundant-string-cstr
  -readability-uppercase-literal-suffix,

# Turn all the warnings from the checks above into errors.
#WarningsAsErrors: "*"
UseColor: false

CheckOptions:
  - { key: readability-identifier-naming.PrivateMemberSuffix,   value: _          }
  - { key: readability-identifier-naming.ProtectedMemberSuffix, value: _          }
  - { key: readability-identifier-naming.MacroDefinitionCase,   value: UPPER_CASE }
