include README.md LICENSE setup.cfg CMakeLists.txt LIEF.pc.in LIEFConfig.cmake.in

# Examples
recursive-include examples *

# LIEF Sources
recursive-include src *
recursive-include include *

recursive-include third-party *
recursive-include cmake *
recursive-include scripts *

# Bindings
recursive-include api *
prune api/python/build

# Global exclude
recursive-exclude *.egg-info *.so

# Install script
recursive-include package *

# Documentation
recursive-include doc *

