.highlight {
  overflow: auto;
  max-height: 500px;
}

.center {
  text-align: center;
}

.fixed-paragraph {
  margin-top: 0;
  margin-bottom: 1rem;
}

li .fixed-paragraph {
  margin-top: 0;
  margin-bottom: 0rem;
}
