
.post_image {
	width: 100%; 
	display: block; 
	margin-left: auto; 
	margin-right: auto;
}

.post_image_tall {
	width: 50%; 
	display: block; 
	margin-left: auto; 
	margin-right: auto;
}

.post_image_home {
  width: 20%; 
  display: block; 
  margin-left: auto; 
  margin-right: auto;
}

.post_equation {
	width: 50%; 
	display: block; 
	margin-left: auto; 
	margin-right: auto;
}

.anchor{
	padding-top: 50px; 
	margin-top: -50px;
}

.flex-video {
  position: relative;
  padding-top: 25px;
  padding-bottom: 67.5%;
  height: 0;
  margin-bottom: 16px;
  overflow: hidden;
}
 
.flex-video.widescreen { padding-bottom: 57.25%; }
.flex-video.vimeo { padding-top: 0; }
 
.flex-video iframe,
.flex-video object,
.flex-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
  .flex-video { padding-top: 0; }
}

  table.center {
    margin-left:auto; 
    margin-right:auto;
    width: 75%;
  }
