tomli==2.2.1
scikit-build-core==0.11.1
# For Ninja: msvc.msvc14_get_vc_env
setuptools==78.1.1
# For the "env" feature
pydantic==2.11.3
# Implicit from scikit-build-core
pathspec==0.12.1
build==1.2.1
wheel==0.45.1
